@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Inter&family=Montserrat:wght@500&family=Poppins&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main: rgb(227, 227, 219);

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Gaegu, sans-serif;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: #4b4b4b;
  }
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

input {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid #000;
  border-radius: 7px;
  outline: none;
  padding: 3px 0 3px 5px;
  background-color: transparent;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

select {
  font-size: inherit;
  font-family: inherit;
  padding: 0 10px;
  outline: none;
  margin: 5px 10px 5px 0;
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  -moz-appearance: none;
}

select > option:hover {
  background-color: #eee;
}
