@import './../../../index.scss';

.cont {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.imageSection {
  flex: 1;

  @media screen and (max-width: 800px) {
    & {
      display: none;
    }
  }
}

.outer {
  padding: 0 10px;
}

.formSection {
  flex: 1;
}

.image {
  width: 100%;
  object-fit: cover;
}

.title {
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
}

.form {
  margin: 10px;
  padding: 20px;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, $main, #fff);
  gap: 20px;

  @media screen and (max-width: 800px) {
    & {
      max-width: 550px;
      margin: 10px auto;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.error {
  position: absolute;
  top: 57px;
  color: rgb(201, 36, 36);
}

.input {
  width: 100%;
}

.photoLabel {
  border: none;
}
