.footer {
  padding: 15px 10px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 460px) {
    & {
      flex-direction: column-reverse;
    }
  }
}

.copyright {
  padding: 10px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
