.cont {
  max-width: 500px;
  margin: 20px auto;
}

.image {
  object-fit: cover;
  width: 100%;
}

.imageContainer {
  max-width: 500px;
}

.text {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
}
