.cont {
  position: absolute;
  left: 50%;
  transform: translate(20%, 50%);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px;

  @media screen and (max-width: 500px) {
    & {
      position: static;
      transform: none;
    }
  }
}

.text {
  text-align: center;
  font-weight: normal;
}
